<a href="https://colab.research.google.com/github/Vitorianorde/Imersao_dados_com_python_Alura/blob/main/Primeiros_Exercicios.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
#Importando a biblioteca do Pandas - Nomeando como "pd"

In [3]:
df = pd.read_csv("https://raw.githubusercontent.com/guilhermeonrails/data-jobs/refs/heads/main/salaries.csv")
#Salvei o Data frame(Arquivo CSV) como df para facilitar sua recuperação, em seguida usamos a biblioteca pandas para ler(read)o arquivo que eu passei o caminho do link do github

In [4]:
df.head(10)
#Aqui solicitamos para visualizar as 10 primeiras linhas do nosso df

,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,2025.0,SE,FT,Solutions Engineer,214000,USD,214000,US,100,US,M
1,2025.0,SE,FT,Solutions Engineer,136000,USD,136000,US,100,US,M
2,2025.0,MI,FT,Data Engineer,158800,USD,158800,AU,0,AU,M
3,2025.0,MI,FT,Data Engineer,139200,USD,139200,AU,0,AU,M
4,2025.0,EN,FT,Data Engineer,90000,USD,90000,US,0,US,M
5,2025.0,EN,FT,Data Engineer,80000,USD,80000,US,0,US,M
6,2025.0,SE,FT,Data Scientist,185000,USD,185000,US,0,US,M
7,2025.0,SE,FT,Data Scientist,148000,USD,148000,US,0,US,M
8,2025.0,MI,FT,Data Scientist,135000,USD,135000,CA,0,CA,M
9,2025.0,MI,FT,Data Scientist,108000,USD,108000,CA,0,CA,M

In [5]:
df.info()
#Usamos o info para verificar informações das colunas e valores - vai nos ajudar a verificar os tipos de dados, dados nulos e colunas, o que será importante para as etapas de limpeza e transformação

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 133349 entries, 0 to 133348
Data columns (total 11 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   work_year           133339 non-null  float64
 1   experience_level    133349 non-null  object
 2   employment_type     133349 non-null  object
 3   job_title           133349 non-null  object
 4   salary              133349 non-null  int64
 5   salary_currency     133349 non-null  object
 6   salary_in_usd       133349 non-null  int64
 7   employee_residence  133349 non-null  object
 8   remote_ratio        133349 non-null  int64
 9   company_location    133349 non-null  object
 10  company_size        133349 non-null  object
dtypes: float64(1), int64(3), object(7)
memory usage: 11.2+ MB

In [6]:
df.describe()
#Aqui usamos o describe para obter valores estatiscos da tabela, como não passamos nenhuma função entre parenteses, ele automaticamente mostra somente valores numéricos

           work_year        salary  salary_in_usd   remote_ratio
count  133339.000000  1.333490e+05  133349.000000  133349.000000
mean     2024.358770  1.632833e+05  157617.272098      20.905669
std         0.680627  2.173860e+05   74288.363097      40.590044
min      2020.000000  1.400000e+04   15000.000000       0.000000
25%      2024.000000  1.060200e+05  106000.000000       0.000000
50%      2024.000000  1.470000e+05  146206.000000       0.000000
75%      2025.000000  1.990000e+05  198000.000000       0.000000
max      2025.000000  3.040000e+07  800000.000000     100.000000

In [7]:
df.shape
#Usamos o atributo shape para sabermos a dimensão do arquivo, o primeiro valor seriam as linhas e o segundo valor, as colunas

(133349, 11)

In [8]:
linhas, colunas = df.shape[0],df.shape[1]
print('O número de linhas é')
print(linhas)
print('O número de colunas é:')
print(colunas)

#Aqui conseguimos imprimir o valor do shape de uma forma que seja melhor para visualização

O número de linhas é
133349
O número de colunas é:
11

In [9]:
df.columns
#Aqui verificamos o nomes das colunas em formato de lista

Index(['work_year', 'experience_level', 'employment_type', 'job_title',
       'salary', 'salary_currency', 'salary_in_usd', 'employee_residence',
       'remote_ratio', 'company_location', 'company_size'],
      dtype='object')

In [17]:
df.columns = ['ano_trabalho', 'nivel_experiencia', 'tipo_emprego', 'cargo', 'salario', 'moeda_salario', 'salario_em_usd', 'residencia_funcionario', 'taxa_remota', 'localizacao_empresa', 'tamanho_empresa']
# Aqui verificamos o nomes das colunas em formato de lista e traduzimos para português, em seguida vamos renomea-las para melhorar a consulta
renomear_colunas = {
    'ano_trabalho': 'ano',
    'nivel_experiencia': 'senioridade',
    'tipo_emprego': 'contrato',
    'cargo': 'cargo',
    'salario': 'salario',
    'moeda_salario': 'moeda',
    'salario_em_usd': 'USD',
    'residencia_funcionario': 'residencia',
    'taxa_remota': 'remoto',
    'localizacao_empresa': 'localizacao_da_empresa',
    'tamanho_empresa': 'tamanho_da_empresa',
}
df.rename(columns=renomear_colunas, inplace=True)
display(df.columns)

Index(['ano', 'senioridade', 'contrato', 'cargo', 'salario', 'moeda', 'USD',
       'residencia', 'remoto', 'localizacao_da_empresa', 'tamanho_da_empresa'],
      dtype='object')

In [18]:
df['senioridade'].value_counts()
#Aqui usamos o value.counts para verificar a quantidade de linhas de acordo com a coluna nível experiência

senioridade
SE    77241
MI    40465
EN    12443
EX     3200
Name: count, dtype: int64

In [19]:
substituir_senioridade ={
    'SE': 'Senior',
    'MI': 'Pleno',
    'EN': 'Junior',
    'EX': 'Executivo'
}
df['senioridade'] = df['senioridade'].map(substituir_senioridade)
df['senioridade'].value_counts()
#Aqui substituimos as siglas adaptando também para o PTBR

senioridade
Senior       77241
Pleno        40465
Junior       12443
Executivo     3200
Name: count, dtype: int64

In [20]:
contrato ={
    'FT': 'Tempo Integral',
    'PT': 'Meio Periodo',
    'CT': 'Contrato',
    'FL': 'Freelance'
}
df['contrato'] = df['contrato'].map(contrato)
df['contrato'].value_counts()
#Aqui substituimos as siglas adaptando também para o PTBR

contrato
Tempo Integral    132563
Contrato             394
Meio Periodo         376
Freelance             16
Name: count, dtype: int64

In [21]:
remoto = {
    0:'Presencial',
    50: 'Hibrido',
    100: 'Remoto'
}
df['remoto'] = df['remoto'].replace(remoto)
df['remoto'].value_counts()
#Substituindo as legendas de float para string para facilitar criação de dashboards e relatórios

remoto
Presencial    105312
Remoto         27718
Hibrido          319
Name: count, dtype: int64

In [22]:
tamanho_da_empresa ={
    'Startup': 'Pequena',
    'Mid': 'Media',
    'L': 'Grande'
}
df['tamanho_da_empresa'] = df['tamanho_da_empresa'].replace(tamanho_da_empresa)
df['tamanho_da_empresa'].value_counts()
#Aqui substituimos as siglas adaptando também para o PTBR

tamanho_da_empresa
M         129561
Grande      3574
S            214
Name: count, dtype: int64

In [23]:
df['localizacao_da_empresa'].value_counts()
#Verificando os valores das tabelas seguintes

localizacao_da_empresa
US    119641
CA      5239
GB      3719
AU       522
NL       404
       ...
IR         1
BS         1
IQ         1
CN         1
MD         1
Name: count, Length: 95, dtype: int64

In [24]:
df.head()

,ano,senioridade,contrato,cargo,salario,moeda,USD,residencia,remoto,localizacao_da_empresa,tamanho_da_empresa
0,2025.0,Senior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,M
1,2025.0,Senior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,M
2,2025.0,Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,M
3,2025.0,Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,M
4,2025.0,Junior,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,M

In [25]:
df.describe(include='object')

,senioridade,contrato,cargo,moeda,residencia,remoto,localizacao_da_empresa,tamanho_da_empresa
count,133349,133349,133349,133349,133349,133349,133349,133349
unique,4,4,390,26,102,3,95,3
top,Senior,Tempo Integral,Data Scientist,USD,US,Presencial,US,M
freq,77241,132563,17314,126140,119579,105312,119641,129561

In [26]:
df.head(20)

,ano,senioridade,contrato,cargo,salario,moeda,USD,residencia,remoto,localizacao_da_empresa,tamanho_da_empresa
0,2025.0,Senior,Tempo Integral,Solutions Engineer,214000,USD,214000,US,Remoto,US,M
1,2025.0,Senior,Tempo Integral,Solutions Engineer,136000,USD,136000,US,Remoto,US,M
2,2025.0,Pleno,Tempo Integral,Data Engineer,158800,USD,158800,AU,Presencial,AU,M
3,2025.0,Pleno,Tempo Integral,Data Engineer,139200,USD,139200,AU,Presencial,AU,M
4,2025.0,Junior,Tempo Integral,Data Engineer,90000,USD,90000,US,Presencial,US,M
5,2025.0,Junior,Tempo Integral,Data Engineer,80000,USD,80000,US,Presencial,US,M
6,2025.0,Senior,Tempo Integral,Data Scientist,185000,USD,185000,US,Presencial,US,M
7,2025.0,Senior,Tempo Integral,Data Scientist,148000,USD,148000,US,Presencial,US,M
8,2025.0,Pleno,Tempo Integral,Data Scientist,135000,USD,135000,CA,Presencial,CA,M
9,2025.0,Pleno,Tempo Integral,Data Scientist,108000,USD,108000,CA,Presencial,CA,M
10,2025.0,Pleno,Tempo Integral,BI Developer,118000,USD,118000,US,Remoto,US,M
11,2025.0,Pleno,Tempo Integral,BI Developer,51000,USD,51000,US,Remoto,US,M
12,2025.0,Junior,Tempo Integral,Data Analyst,91900,USD,91900,US,Presencial,US,M
13,2025.0,Junior,Tempo Integral,Data Analyst,54300,USD,54300,US,Presencial,US,M
14,2025.0,Senior,Tempo Integral,Applied Scientist,255000,USD,255000,US,Presencial,US,M
15,2025.0,Senior,Tempo Integral,Applied Scientist,190000,USD,190000,US,Presencial,US,M
16,2025.0,Pleno,Tempo Integral,Systems Engineer,196350,USD,196350,US,Presencial,US,M
17,2025.0,Pleno,Tempo Integral,Systems Engineer,130900,USD,130900,US,Presencial,US,M
18,2025.0,Executivo,Tempo Integral,Director,170000,USD,170000,US,Presencial,US,M
19,2025.0,Executivo,Tempo Integral,Director,160000,USD,160000,US,Presencial,US,M